body {
  background-color: #ffffff;
}

.wrapper {
  display: inline-flex;
}

.wrapper .static-txt {
  color: #000000;
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txt {
  margin-left: 15px;
  height: 90px;
  line-height: 80px;
  overflow: hidden;
}

.dynamic-txt li {
  color: #337599;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 4s steps(3) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txt li span {
  position: relative;
}
.dynamic-txt li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 2px solid #337599;
  animation: typing 1.6s steps(7) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
